.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Garante que os elementos ocupem os extremos */
  align-items: center;
  height: 100vh; /* Ocupa a tela inteira */
  background: var(--bg-color1) url('../assets/DaviBG.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box; /* Garante que o padding seja incluído no cálculo de altura */
}

/* Título */
.home h1 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 8rem;
  font-weight: 200;
  color: #bfb9b6;
  margin-top: 5rem; 
}

/* Information */
.home .Information{
  margin-top: auto; /* Garante que o último elemento (Information) fique no final */
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 5rem;
  }
}