.Introduction{
    background-color: var(--bg-color1);
    display: flex;
    justify-content: center;
    
}

.Introduction h1{
    width: 80%;
    align-self: center;
    text-align: center;
    font-size: var(--font-size-big);

    animation-name: head;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes head {
    0% {opacity:0;}
    10% {opacity:1;}
    90% {opacity:1;}
    100% {opacity:0;}
}
