.Introduction{
    background-color: var(--bg-color1);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.Introduction .container {
    width: 75%;
}

.Introduction span{
    align-self: center;
    font-size: var(--font-size-big);
    text-align: center;
    display: block;
    
    animation-name: head;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes head {
    0% {opacity:0;}
    10% {opacity:1;}
    90% {opacity:1;}
    100% {opacity:0;}
}

.Introduction .box{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 12px;
}
.Introduction .dot{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--font-color1);
}

.Introduction .dot-on{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--bg-color2);
}