.ProjectComponent {
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 192px;
    background-color: rgba(7, 30, 34,0.5);
    margin: 16px 0;
}

.ProjectComponent .project-header{
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    background-color: rgba(7, 30, 34, 0.9) ;
}
.ProjectComponent .project-header h2{
    width: 100%;
    text-align: center;
}

.ProjectComponent .project-header  .project-header-buttons{
    position: absolute;
    right: 0;
    margin-right: 12px;
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.ProjectComponent .project-header  .project-header-buttons span{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.ProjectComponent .project-header  .project-header-buttons .red{
    background-color: #ef534f;
}
.ProjectComponent .project-header  .project-header-buttons .yellow{
    background-color: #F0B23D;
}
.ProjectComponent .project-header  .project-header-buttons .green{
    background-color: #33BE47;
}

.ProjectComponent a.project-content{
    text-decoration: none;
}
.ProjectComponent .project-content p {
    margin: 8px;
    text-decoration: none;
    font-size: larger;
}