
:root{
  --bg-color1: #071e22;
  --bg-color2: #28a49e;
}
* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,p,span {
  font-family: 'Roboto', sans-serif;
  color: #dadada;

}

.bg-image{
  width: 100%;
  aspect-ratio: 1920/1080;


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}